/* ----------- reset ----------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/* ----------- layout ----------- */
body {
  background: #ffe1ad;
  font-family: "Roboto Condensed", sans-serif;
  color: #2d2c2e; }

.container {
  max-width: 1200px;
  margin: 0 auto 50px;
  background: #fbfbfb;
  box-shadow: 5px 0px 5px 0px rgba(70, 70, 70, 0.1); }

/* ----------- extends ----------- */
.question header p a, .comment .comment-meta a {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin-right: 10px; }

.question header p, .comment .comment-meta {
  font-size: 11px;
  color: #a7a9ac; }

.question header a, .actions > a, .comment .comment-meta a, .profile a {
  color: #0266b3; }
  .question header a:hover, .actions > a:hover, .comment .comment-meta a:hover, .profile a:hover {
    color: #004895; }

/* ----------- header ----------- */
.main-header {
  background: #fff;
  box-shadow: 5px 0px 5px 0px rgba(70, 70, 70, 0.1);
  position: relative; }
  .main-header .inner {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px; }
  .main-header .back-btn {
    position: absolute;
    left: -175px;
    top: 40px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #a7a9ac;
    padding: 9px; }
    .main-header .back-btn:hover {
      background: #f9f9f9; }
  .main-header h1 {
    display: inline-block;
    font-size: 29px;
    color: #2d2c2e;
    margin-right: 22px; }
  .main-header .add-question {
    display: inline-block;
    width: 25px;
    height: 26px;
    border-radius: 50%;
    background: #0266b3;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    padding-left: 6px;
    margin-right: 50px; }
    .main-header .add-question:hover {
      background: #00529f; }
  .main-header .sort, .main-header .discussed {
    font-family: "Noto Serif", serif;
    font-size: 13px;
    text-align: right;
    flex: 0 0 200px; }
    .main-header .sort a, .main-header .discussed a {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 15px;
      color: #0266b3;
      margin: 0 6px; }
      .main-header .sort a:hover, .main-header .discussed a:hover {
        text-decoration: underline; }
      .main-header .sort a.active, .main-header .discussed a.active {
        color: #a7a9ac;
        text-decoration: underline; }
      .main-header .sort a:last-child, .main-header .discussed a:last-child {
        margin-right: 0; }
  .main-header .search {
    display: flex; }
  .main-header input[type="search"] {
    flex-basis: 600px;
    background: #fbfbfb;
    border: 1px solid #eeeeee;
    padding: 8px 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px; }
  .main-header button {
    width: 180px;
    margin-left: 20px;
    background: #fff;
    border: 1px solid #a7a9ac;
    padding: 7px 15px;
    color: #a7a9ac;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer; }
    .main-header button:hover {
      background: #f8f8f8; }

.header-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 45px 0 20px; }
  .header-top .header-top-left {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-basis: 600px;
    flex-wrap: wrap; }

/* ----------- radio buttons ----------- */
.radios {
  display: flex; }
  .radios > div:first-child {
    margin-right: 28px; }

input[type="radio"] {
  position: absolute;
  opacity: 0; }
  input[type="radio"] + label {
    cursor: pointer;
    position: relative;
    font-size: 15px; }
    input[type="radio"] + label:before {
      content: '';
      display: inline-block;
      background: #fbfbfb;
      border: 1px solid #a7a9ac;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 9px; }
  input[type="radio"]:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
    background: #2d2c2e;
    width: 7px;
    height: 7px;
    border-radius: 50%; }

/* ----------- question ----------- */
.question {
  background: #fff;
  max-width: 800px;
  margin: 0 auto;
  position: relative; }
  .question header {
    padding: 20px;
    background: #dff3fd;
    height: 90px;
    max-width: 600px; }
    .question header img {
      float: left;
      margin-right: 38px;
      border-radius: 50%; }
    .question header h1 {
      font-family: "Noto Serif", serif;
      font-size: 16px;
      margin-top: 4px; }
  .question:before {
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.05);
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px; }
  .question:after {
    box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.15);
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: -10px;
    width: 10px; }

.load-more {
  padding: 33px 20px; }
  .load-more a {
    color: #e1173f;
    font-weight: bold;
    font-size: 15px; }
    .load-more a:hover {
      text-decoration: underline; }

/* ----------- extends for details ----------- */
.details .more-act, .details .stats p {
  font-family: "Noto Serif", serif;
  font-size: 12px; }

.details .more-act span, .details .stats span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  font-weight: bold; }

.details .asked, .details .found, .details .reacted {
  color: #a7a9ac;
  font-size: 11px;
  text-transform: uppercase; }

.details .found:after, .details .more-act:after, .details .reacted:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  left: 40px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #a7a9ac; }

/* ----------- details ----------- */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;
  border-bottom: 1px solid #eeeeee; }
  .details img {
    border-radius: 50%; }
  .details hr {
    height: 1px;
    margin-bottom: 9px;
    background: #a7a9ac;
    border: none; }
  .details .panels {
    display: flex;
    align-items: flex-end; }
    .details .panels a:last-child div {
      margin-right: 0; }
  .details div div, .details .stats {
    position: relative;
    height: 154px;
    width: 90px;
    padding: 10px;
    margin-right: 12px;
    text-align: center; }
  .details .asked, .details .found {
    height: 187px;
    padding-top: 157px;
    background: #dff3fd; }
  .details .more-act span {
    display: block;
    margin: 30px 0 52px; }
  .details .reacted {
    background: #eeeeee; }
    .details .reacted:hover {
      background: #f3f3f3; }
    .details .reacted img {
      margin: 12px 0 48px; }
  .details .answered:after, .details .answered hr {
    background: #2d2c2e; }
  .details .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    margin: 0;
    padding: 5px 0 8px 52px;
    text-align: left; }
    .details .stats span {
      margin-right: 5px; }

/* ----------- media queries ----------- */
@media (max-width: 820px) {
  .main-header .inner {
    padding: 0 20px 20px; }

  .question header {
    max-width: 100%; }

  .panels a:nth-of-type(1) {
    display: none; }

  .question:after {
    width: 0; } }
@media (max-width: 690px) {
  .panels a:nth-of-type(2) {
    display: none; } }
@media (max-width: 590px) {
  .panels a:nth-of-type(3) {
    display: none; } }
@media (max-width: 530px) {
  .header-top {
    padding-top: 22px; }

  .main-header .add-question {
    margin-right: 0; }

  .main-header .sort {
    flex-basis: 155px; } }
@media (max-width: 485px) {
  .details .asked, .details .found {
    display: none; }

  .more-act {
    background: #eeeeee; } }
@media (max-width: 450px) {
  .header-top {
    flex-wrap: wrap; }

  .header-top, .header-top .header-top-left {
    justify-content: center; }

  .radios {
    margin: 10px 25px;
    padding: 5px 0 2px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; }

  .main-header .inner {
    padding: 0 0 20px; }

  .main-header .sort {
    text-align: center; }

  .main-header button {
    margin-left: 0; }

  .question header {
    padding: 10px;
    height: 100%; }
    .question header img {
      margin-right: 15px;
      margin-bottom: 5px;
      width: 35px;
      height: 35px; }
    .question header h1 {
      font-size: 12px; }

  .details {
    padding-bottom: 28px; }
    .details div div {
      margin: 1px 1px 0 0;
      height: 132px;
      width: 77px; }
    .details .reacted img {
      width: 35px;
      height: 35px;
      margin: 10px 0 45px; }
    .details .more-act span {
      margin: 20px 0 38px; }
    .details .more-act:after, .details .reacted:after {
      left: 33px; }
    .details .stats {
      height: 132px;
      padding: 18px 0 19px 33px; }
      .details .stats span {
        font-size: 14px; } }
/* ----------- single header ----------- */
.single p {
  color: #888888; }
.single .main-header .back-btn {
  top: 35px; }
.single .header-top {
  padding: 38px 0 24px; }
.single .main-header h1 {
  display: inline-block;
  font-size: 29px;
  color: #2d2c2e;
  margin-right: 40px; }
.single .main-header .add-question {
  padding-left: 5px; }

.discussed span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  margin: 0 10px; }

/* ----------- single question mixin ----------- */
.answer-btn, .button-wrap .continue-btn, .button-wrap .comment-btn {
  width: 175px;
  background: #fff;
  border: 1px solid #e4e4e4;
  padding: 7px 0 6px;
  color: #2d2c2e;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative; }
  .answer-btn:hover, .button-wrap .continue-btn:hover, .button-wrap .comment-btn:hover {
    background: #f8f8f8; }

/* ----------- single question ----------- */
.single .question header {
  max-width: 100%; }
  .single .question header h1 {
    margin-top: 12px; }

.question-txt {
  display: flex;
  border-left: 90px solid #dff3fd;
  border-bottom: 1px solid #f6f6f6;
  padding: 25px 20px 40px;
  font-size: 13px;
  line-height: 1.5; }
  .question-txt p {
    flex-basis: 500px;
    flex-shrink: 2; }

.actions {
  display: flex;
  flex-direction: column;
  flex-basis: 170px;
  align-items: flex-end;
  position: relative; }
  .actions > a {
    position: absolute;
    top: -80px;
    left: 68px;
    font-size: 14px;
    font-weight: bold; }

.votes {
  font-family: "Noto Serif", serif;
  padding-right: 26px;
  margin-top: -2px;
  font-size: 12px; }
  .votes .vote-num {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-right: 7px; }

.vote-btns {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: -7px;
  margin-left: 27px; }
  .vote-btns a {
    display: inline-block;
    text-indent: -9999px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; }
    .vote-btns a.up {
      border-bottom: 10px solid #0266b3;
      margin-bottom: 8px; }
      .vote-btns a.up:hover {
        border-bottom-color: #004895; }
    .vote-btns a.down {
      border-top: 10px solid #0266b3;
      margin-top: 5px; }
      .vote-btns a.down:hover {
        border-top-color: #004895; }
  .vote-btns.downvotes {
    margin-left: 10px; }

.answer-give, .button-wrap {
  margin: 0 auto 17px;
  max-width: 800px;
  text-align: center; }

.answer-btn {
  top: -18px;
  margin-bottom: 24px; }

.answer-give p {
  font-family: "Noto Serif", serif;
  font-size: 13px;
  color: #2d2c2e; }
  .answer-give p span {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px; }

/* ----------- comments ----------- */
.comment {
  max-width: 800px;
  margin: 0 auto; }
  .comment .comment-wrap {
    display: flex;
    background: #fff;
    box-shadow: 0px 1px 6px -4px rgba(99, 99, 99, 0.5); }
  .comment img {
    border-radius: 50%;
    margin: 20px; }
  .comment .comment-content {
    flex-basis: 520px;
    flex-shrink: 2;
    padding: 16px 20px;
    border-left: 1px solid #e4e4e4; }
  .comment .comment-meta .bullet {
    margin: 0 10px 0 5px; }
  .comment .comment-meta span {
    font-family: "Noto Serif", serif;
    font-size: 12px;
    font-weight: bold;
    color: #2d2c2e; }
  .comment .comment-txt {
    font-size: 13px;
    margin: 12px 0 0;
    line-height: 1.5; }
  .comment .votes {
    flex-basis: 190px;
    padding: 46px 0 0 38px;
    font-size: 12px;
    font-weight: bold; }

.comment-1 {
  box-shadow: 5px -4px 9px -4px rgba(0, 0, 0, 0.15); }
  .comment-1.with-btn .comment-wrap {
    min-height: 125px; }
  .comment-1.with-btn .comment-txt {
    margin-bottom: 22px; }

.comment-2 {
  margin-left: 90px;
  border-top: 1px solid #e4e4e4; }
  .comment-2 .comment-wrap {
    min-height: 140px; }
  .comment-2 .comment-content {
    flex-basis: 430px; }

.button-wrap {
  margin-bottom: 4px; }
  .button-wrap .continue-btn {
    top: -16px;
    margin-bottom: 0; }
  .button-wrap .comment-btn {
    top: -18px;
    margin-bottom: 20px; }

/* ----------- single question media queries ----------- */
@media (max-width: 1165px) {
  .single .main-header .back-btn {
    left: -70px; } }
@media (max-width: 960px) {
  .single .main-header .back-btn {
    top: 26px;
    left: 17px; }
  .single .header-top {
    padding-top: 30px; }
    .single .header-top .header-top-left {
      margin-left: 110px; } }
@media (max-width: 820px) {
  .single .main-header .inner {
    padding-left: 0; }

  .votes {
    padding-right: 0; }

  .actions > a {
    left: 94px; }

  .comment .votes {
    padding: 46px 0 0 47px; } }
@media (max-width: 600px) {
  .single .main-header {
    z-index: 1;
    box-shadow: 0px 0px 4px 0px rgba(70, 70, 70, 0.7); }
    .single .main-header .inner {
      padding: 0 0 15px; }
    .single .main-header .back-btn {
      top: 16px;
      left: 9px;
      height: 25px;
      width: 25px;
      padding: 4px 5px; }
      .single .main-header .back-btn img {
        width: 10px; }
    .single .main-header .add-question {
      margin-top: 5px;
      margin-right: 10px; }
    .single .main-header .discussed {
      display: none; }
  .single .header-top {
    padding: 11px 0 0px; }
    .single .header-top .header-top-left {
      margin-left: 60px; }
      .single .header-top .header-top-left span {
        width: 100%;
        display: flex;
        justify-content: space-between; }
  .single .question header {
    padding: 18px 0 0; }
    .single .question header img {
      margin-left: 10px;
      width: 35px;
      height: 35px; }
    .single .question header p {
      margin-top: 8px; }
    .single .question header h1 {
      clear: left;
      border-top: 1px solid #fff;
      padding: 10px; }
  .single .answer-btn {
    margin-bottom: 30px; }

  .question-txt {
    flex-direction: column;
    border-left: 0;
    padding: 6px 10px 27px; }
    .question-txt p {
      flex-basis: initial;
      margin-bottom: 20px; }
    .question-txt .actions {
      position: initial;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      flex-basis: initial; }
      .question-txt .actions > a {
        position: inherit;
        top: 0; }

  .comment .comment-wrap {
    flex-direction: column;
    position: relative; }
  .comment img {
    position: absolute;
    margin: 6px 8px;
    width: 35px;
    height: 35px; }
  .comment .comment-content {
    flex-basis: initial;
    padding: 12px 0 0; }
    .comment .comment-content .comment-meta {
      margin: 5px 0 0 58px; }
    .comment .comment-content .comment-txt {
      margin: 12px 0 0;
      padding: 5px 8px 0;
      border-top: 1px solid #e4e4e4; }
  .comment .votes {
    flex-basis: initial;
    padding: 35px 10px 10px 0;
    align-self: flex-end; }

  .comment-2 {
    margin-left: 0;
    border-left: 8px solid #d8d8d8; }

  .comment-2 .votes, .with-btn .votes {
    margin-bottom: 14px; } }
/* ----------- profile ----------- */
body.profile {
  background: #474747; }

.profile-wrap {
  max-width: 850px;
  margin: 20px auto 0;
  padding: 0 10px 35px;
  background: #fff;
  text-align: center; }

.close {
  text-align: right;
  padding: 10px; }
  .close a {
    color: #a7a9ac;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold; }

.main-pic, .who-joined img, .hottest img {
  border-radius: 50%; }

.main-pic {
  margin: 5px 0 11px; }

.name {
  display: block;
  font-size: 20px;
  font-weight: bold; }

.profile-meta {
  display: flex;
  max-width: 600px;
  margin: 12px auto 19px;
  justify-content: space-between;
  color: #888888;
  font-size: 14px; }
  .profile-meta span {
    color: #2d2c2e;
    font-size: 14px;
    margin-left: 5px; }
  .profile-meta .activity {
    display: flex; }
    .profile-meta .activity img {
      margin-left: 10px;
      width: 74px;
      height: 25px; }

.profile hr {
  height: 1px;
  max-width: 600px;
  margin: 0 auto;
  border: none;
  background: #a7a9ac; }

.started .previous, .started .next {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #0266b3;
  color: #fff;
  font-size: 30px;
  line-height: 1; }
  .started .previous:hover, .started .next:hover {
    color: #fff;
    background: #004895; }
  .started .end.previous, .started .end.next {
    background: #a7a9ac; }

.started {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 11px auto 32px; }
  .started h1 {
    font-family: "Noto Serif", serif;
    font-size: 37px;
    font-weight: normal;
    word-spacing: 5px; }
  .started .previous {
    padding-right: 2px; }
  .started .next {
    padding-left: 2px; }

.profile h2 {
  color: #888888;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 16px; }

.squares {
  display: flex;
  max-width: 450px;
  margin: 45px auto 60px;
  justify-content: space-around;
  font-family: "Noto Serif", serif; }
  .squares span {
    display: block;
    margin: 17px 0 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23px;
    font-weight: bold; }
  .squares div {
    position: relative;
    width: 93px;
    height: 93px;
    z-index: 10;
    font-size: 12px;
    font-weight: bold; }
    .squares div:before {
      content: "";
      display: block;
      width: 93px;
      height: 93px;
      background: #dff3fd;
      position: absolute;
      z-index: -1; }
    .squares div#peers:before {
      transform: rotate(53deg); }
    .squares div#discussions:before {
      transform: rotate(-11deg); }
    .squares div#findings:before {
      transform: rotate(57deg); }
    .squares div#questions:before {
      transform: rotate(11deg); }

.who-joined {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto 41px; }
  .who-joined div {
    width: 90px; }
    .who-joined div div {
      width: 90px;
      height: 90px;
      margin-bottom: 8px;
      padding: 20px;
      background: repeating-linear-gradient(45deg, #fff, #fff 1px, #e4e4e4 3px, #fff 4px); }

.hottest {
  background: repeating-linear-gradient(45deg, #fff, #fff 1px, #e4e4e4 3px, #fff 4px);
  max-width: 850px;
  margin: 0px auto 20px;
  padding-bottom: 30px;
  text-align: center; }
  .hottest img {
    margin-top: -25px; }
  .hottest > span {
    display: inline-block;
    margin: 10px 0 3px;
    font-size: 12px;
    color: #888888; }
    .hottest > span a {
      font-size: 17px;
      margin-right: 7px; }
  .hottest > a {
    font-size: 17px;
    font-weight: bold;
    font-family: "Noto Serif", serif; }
  .hottest .hot-stats {
    display: flex;
    justify-content: space-between;
    max-width: 545px;
    margin: 26px auto 22px;
    flex-wrap: wrap;
    font-family: "Noto Serif", serif;
    font-size: 13px;
    font-weight: bold;
    color: #555456; }
    .hottest .hot-stats div {
      margin: 0 10px; }
      .hottest .hot-stats div span {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 18px;
        margin-right: 8px; }

/* ----------- profile media queries ----------- */
@media (max-width: 570px) {
  .profile-wrap {
    padding: 5px 10px 25px; }

  .close {
    padding: 0; }
    .close a {
      padding: 2px; }

  .main-pic {
    width: 50px;
    margin: -5px 0 3px; }

  .name {
    font-size: 16px; }

  .profile-meta {
    flex-direction: column; }
    .profile-meta span {
      display: block;
      margin-bottom: 15px; }
    .profile-meta .activity {
      justify-content: center;
      flex-direction: column; }
      .profile-meta .activity img {
        margin: 5px auto 0; }

  .started {
    margin-bottom: 12px; }
    .started h1 {
      font-size: 22px; }
    .started .previous, .started .next {
      width: 20px;
      height: 20px;
      font-size: 20px; }

  .profile h2 {
    max-width: 200px;
    margin: 0 auto 16px; }

  .squares {
    max-width: 225px;
    flex-wrap: wrap;
    margin: 35px auto 43px; }

  .who-joined {
    margin-bottom: 35px; }

  .hottest > span {
    margin-bottom: 5px; }
  .hottest > a {
    font-size: 15px; }
  .hottest .hot-stats {
    max-width: 290px;
    font-size: 12px; }
    .hottest .hot-stats div {
      margin-bottom: 10px; }
      .hottest .hot-stats div span {
        font-size: 17px; }
    .hottest .hot-stats #peers {
      order: 3; }
    .hottest .hot-stats #related {
      order: 1; }
    .hottest .hot-stats #conversations {
      order: 2; }
    .hottest .hot-stats #upvotes {
      order: 4; } }

/*# sourceMappingURL=style.css.map */
